USE [master]
GO
/****** Object:  Database [FlightSimulation]    Script Date: 2020/10/02 21:29:59 ******/
CREATE DATABASE [FlightSimulation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FlightSimulation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FlightSimulation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FlightSimulation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FlightSimulation_log.ldf' , SIZE = 6912KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FlightSimulation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FlightSimulation]
GO
/****** Object:  Table [dbo].[Bomber]    Script Date: 2020/10/02 21:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bomber](
	[BomberID] [int] IDENTITY(1,1) NOT NULL,
	[BomberName] [nchar](20) NULL,
	[BomberFuelSize] [int] NULL,
	[BomberInventorySize] [int] NULL,
	[BomberImage] [image] NULL,
 CONSTRAINT [PK_Bomber] PRIMARY KEY CLUSTERED 
(
	[BomberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Objects]    Script Date: 2020/10/02 21:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Objects](
	[ObjectID] [int] IDENTITY(1,1) NOT NULL,
	[ObjectName] [nchar](20) NULL,
	[ObjectScore] [int] NULL,
	[ObjectImage] [image] NULL,
 CONSTRAINT [PK_Objects] PRIMARY KEY CLUSTERED 
(
	[ObjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plane]    Script Date: 2020/10/02 21:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plane](
	[PlaneID] [int] IDENTITY(1,1) NOT NULL,
	[PlaneBMP] [image] NULL,
	[PlaneName] [nchar](30) NULL,
	[FuelCapacity] [int] NULL,
 CONSTRAINT [PK_Plane] PRIMARY KEY CLUSTERED 
(
	[PlaneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 2020/10/02 21:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportNumber] [int] IDENTITY(1,1) NOT NULL,
	[DamagePercentage] [int] NULL,
	[StrikeTime] [smalldatetime] NULL,
	[BuildingsStruck] [nchar](200) NULL,
	[FuelUsage] [int] NULL,
	[InventoryBefore] [nchar](10) NULL,
	[InventoryUsed] [nchar](10) NULL,
	[FlightDuration] [int] NULL,
	[AverageSpeed] [int] NULL,
	[DistanceTraveled] [int] NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[ReportNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2020/10/02 21:29:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nchar](20) NULL,
	[Password] [nchar](20) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bomber] ON 

SET IDENTITY_INSERT [dbo].[Bomber] OFF
GO
SET IDENTITY_INSERT [dbo].[Objects] ON 

SET IDENTITY_INSERT [dbo].[Objects] OFF
GO
SET IDENTITY_INSERT [dbo].[Plane] ON 

SET IDENTITY_INSERT [dbo].[Plane] OFF
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([ReportNumber], [DamagePercentage], [StrikeTime], [BuildingsStruck], [FuelUsage], [InventoryBefore], [InventoryUsed], [FlightDuration], [AverageSpeed], [DistanceTraveled]) VALUES (3, NULL, NULL, NULL, 160, N'BombA,Bomb', NULL, NULL, NULL, NULL)
INSERT [dbo].[Report] ([ReportNumber], [DamagePercentage], [StrikeTime], [BuildingsStruck], [FuelUsage], [InventoryBefore], [InventoryUsed], [FlightDuration], [AverageSpeed], [DistanceTraveled]) VALUES (4, 23, CAST(N'2019-04-22T17:57:00' AS SmallDateTime), N'Factory             ,Ammuntion Depo      ,                                                                                                                                                              ', 86, N'3         ', N'2         ', 0, 0, 0)
INSERT [dbo].[Report] ([ReportNumber], [DamagePercentage], [StrikeTime], [BuildingsStruck], [FuelUsage], [InventoryBefore], [InventoryUsed], [FlightDuration], [AverageSpeed], [DistanceTraveled]) VALUES (5, 52, CAST(N'2019-04-22T18:14:00' AS SmallDateTime), N'Tank Depo           ,Armory              ,Tank Depo           ,Ammuntion Depo      ,                                                                                                                    ', 103, N'6         ', N'4         ', 0, 0, 1)
SET IDENTITY_INSERT [dbo].[Report] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password]) VALUES (8, N'Phumi               ', N'123                 ')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
